# PLANTILLA SET UP

**IMPORTANTE**: Recuerda hacer una copia de esta plantilla para no machacar la original.

## CREAR EL ENTORNO PARA EL PROYECTO

Crear un nuevo entorno e instalar los paquetes básicos:

1. Ir al prompt o terminal
2. Copiar y poner la línea inferior:

conda create --name proyecto1 python numpy pandas matplotlib seaborn scikit-learn scipy sqlalchemy xgboost jupyter

3. Activar el nuevo entorno:

conda activate proyecto1

4. Instalar los paquetes que están en otros canales:

conda install -c conda-forge pyjanitor scikit-plot yellowbrick imbalanced-learn jupyter_contrib_nbextensions cloudpickle

conda install -c districtdatalabs yellowbrick

pip install category_encoders

5. Crear el environment.yml

conda env export > proyecto1.yml

*Nota: es posible que te lo haya creado en C:\Users\tu_usuario, más adelante moveremos este archivo al directorio del proyecto*

## IMPORTAR PAQUETES

In [1]:
import os
import numpy as np
import pandas as pd

#Automcompletar rápido
%config IPCompleter.greedy=True

## CREAR EL DIRECTORIO DEL PROYECTO

### Definir el directorio raiz donde vamos a crear el proyecto

In [2]:
raiz = 'C:/Users/isaac/Google Drive/DS4B/CursoMachineLearningPython/03_MACHINE_LEARNING/08_CASOS/'

### Definir el nombre del proyecto

In [3]:
nombre_dir = '00_PROYECTO1'

### Crear el directorio y la estructura del proyecto

In [4]:
path = raiz + nombre_dir

try:
    os.mkdir(path)
    os.mkdir(path + '/01_Documentos')
    os.mkdir(path + '/02_Datos')
    os.mkdir(path + '/02_Datos/01_Originales')
    os.mkdir(path + '/02_Datos/02_Validacion')
    os.mkdir(path + '/02_Datos/03_Trabajo')
    os.mkdir(path + '/02_Datos/04_Caches')
    os.mkdir(path + '/03_Notebooks')
    os.mkdir(path + '/03_Notebooks/01_Funciones')
    os.mkdir(path + '/03_Notebooks/02_Desarrollo')
    os.mkdir(path + '/03_Notebooks/03_Sistema')
    os.mkdir(path + '/04_Modelos')
    os.mkdir(path + '/05_Resultados')
    os.mkdir(path + '/09_Otros')
    
except OSError:
    print ("La creación del directorio %s ha fallado" % path)
else:
    print ("Se ha creado satisfactoriamente el directorio %s " % path)

Se ha creado satisfactoriamente el directorio C:/Users/isaac/Google Drive/DS4B/CursoMachineLearningPython/03_MACHINE_LEARNING/08_CASOS/00_PROYECTO1

### Situar el directorio de trabajo en el proyecto

In [5]:
os.chdir(path)

### Mover el environment.yml

Buscar manualmente el archivo proyecto1.yml, que posiblemente lo haya ubicado en C:\Users\tu_usuario y moverlo a la carpeta /01_Documentos'

## CREAR LOS DATASETS INICIALES

Poner los datos originales en la carpeta '/02_Datos/01_Originales'

### Importar los datos

Sustituir el nombre_fichero_datos.

In [6]:
nombre_fichero_datos = 'contratacion_fondos.csv'

Cargar los datos.

In [7]:
ruta_completa = path + '/02_Datos/01_Originales/' + nombre_fichero_datos

datos = pd.read_csv(ruta_completa,index_col=0)
datos

,Edad,Trabajo,Estado Civil,Fomación,Impago,Prestamo hipotecario,Prestamo Personal,Canal de contacto,Mes,Dia de la semana,num contactos esta campaña,num días último contacto,num contactos otras campañas,resultado campaña anterior,variación tasa empleo,euribor3m,contrata_fondos
0,44.0,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,NaN,1,999,0,nonexistent,14,4963,0
1,53.0,technician,married,unknown,no,no,no,cellular,nov,NaN,1,999,0,nonexistent,-1,4021,0
2,28.0,management,single,university.degree,no,yes,no,cellular,jun,NaN,3,6,2,success,-17,729,1
3,39.0,services,married,high.school,no,no,no,cellular,apr,NaN,2,999,0,nonexistent,-18,1405,0
4,55.0,retired,married,NaN,no,yes,no,cellular,aug,NaN,1,3,1,success,-29,869,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,59.0,retired,married,high.school,unknown,no,yes,telephone,jun,NaN,1,999,0,nonexistent,14,4866,0
41184,31.0,housemaid,married,basic.4y,unknown,no,no,telephone,may,NaN,2,999,0,nonexistent,11,486,0
41185,42.0,admin.,single,university.degree,unknown,yes,yes,telephone,may,NaN,3,999,0,nonexistent,11,4857,0
41186,48.0,technician,married,professional.course,no,no,yes,telephone,oct,NaN,2,999,0,nonexistent,-34,742,0
41187,25.0,student,single,high.school,no,no,no,telephone,may,NaN,4,999,0,nonexistent,11,4859,0

### Extraer y reservar el dataset de validación

In [8]:
val= datos.sample(frac = 0.3)

In [9]:
nombre_fichero_validacion = 'validacion.csv'

ruta_completa = path + '/02_Datos/02_Validacion/' + nombre_fichero_validacion

val.to_csv(ruta_completa)

### Extraer y guardar el dataset de trabajo

In [10]:
trabajo = datos.loc[~datos.index.isin(val.index)]

In [11]:
nombre_fichero_trabajo = 'trabajo.csv'

ruta_completa = path + '/02_Datos/03_Trabajo/' + nombre_fichero_trabajo

trabajo.to_csv(ruta_completa)

### Extraer y guardar una muestra (opcional)

Actualizar el tamaño de la muestra.

In [12]:
muestra= trabajo.sample(n = 20000)

In [13]:
nombre_fichero_muestra = 'muestra.csv'

ruta_completa = path + '/02_Datos/03_Trabajo/' + nombre_fichero_muestra

muestra.to_csv(ruta_completa)